---
layout: base
permalink: /templates/epicurean/
title: Menu
template_js: epicurean
---

<!-- Breadcrumb -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-info text-center">
          <h1 class="text-white" data-menu-name>Menu</h1>
          <p class="text-white mt-3" data-menu-description></p>
          <p class="text-white mt-2 opacity-75" data-founded-year></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Menu (rendered at runtime) -->
<div class="manu-page-wrap pt-120 pb-120">
  <div class="container">
    <div id="menu-root">
      <div class="menu-loading"><div class="spinner"></div></div>
    </div>
  </div>
</div>
